.form {
	border: 4px solid #ffffff;
	padding: 1rem;
}

.form label {
	font-family: 'bit-operator', system-ui, sans-serif;
	color: #ffffff;
	font-size: 1rem;
}

.form input, .form textarea {
	background-color: transparent;
	border : 4px solid #ffffff;
	height: 2rem;
	color: #ffffff;
	font-family: 'bit-operator', system-ui, sans-serif;
	font-size: 1rem;
}

.form .textarea-message {
	height: 6rem;
	resize: none;
}

.form button {
	background-color: black;
	color: #ffffff;
	font-weight: bold;
	border: 4px solid #ffffff;
	padding: 0.5rem 1rem;
	font-family: 'bit-operator', system-ui, sans-serif;
	font-size: 1rem;
	cursor: pointer;
}

#confirmation-message {
	margin-top: 1rem;
	font-size: 1.5rem;
	color: yellow;
	font-weight: bold;
	text-align: center;
	font-family: 'bit-operator', system-ui, sans-serif;
}