@font-face {
  font-family: 'bit-operator';
  src: url(../fonts/8bitOperatorPlus-Regular.ttf);
}

body {
	background: url("../images/deltarune-poster.webp");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #ffffff;
	font-family: system-ui, sans-serif;
}

header, main, footer {
	max-width: 800px;
	margin: auto;
	padding: 1rem;
}

header, footer {
	position: relative;
	background-color: black;
}

.video-container {
  aspect-ratio: 16 / 9;
  width: 100%;
	max-width: 600px;
}

.header-desktop {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-desktop ul {
	list-style: none;
	padding: 0;
	display: flex;
	gap: 1rem;
}

.header-desktop ul li a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.header-desktop ul li a:hover {
	text-decoration: underline;
	color: yellow;
}

.header-mobile {
	width: 100%;
	display: none;
}

.menu-checkbox {
	display: none;
}

.menu-button {
	background-color: transparent;
	border: none;
	color: white;
	font-size: 1.5rem;
	cursor: pointer;
}

.mobile-menu {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: black;
	border-top: 1px solid #444;
	z-index: 1000;
	flex-direction: column;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.mobile-menu li a {
	box-sizing: border-box;
	display: inline-block;
	width: 100%;
	text-decoration: none;
	color: white;
	padding: 1rem;
	border-bottom: 1px solid #444;
}

.mobile-menu li a:hover {
	color: yellow;
}

.menu-checkbox:checked ~ .mobile-menu {
	display: flex;
}

main {
	background-color: #121212A0;
	backdrop-filter: blur(10px);
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'bit-operator', system-ui, sans-serif;
}

a {
	font-family: 'bit-operator', system-ui, sans-serif;
	color: yellow;
}

footer ul {
	list-style: none;
	padding: 0;
}

footer ul li a {
	text-decoration: none;
	color: white;
	display: flex;	
	align-items: center;
}

footer ul li a:hover {
	color: yellow;
}

.title {
	text-align: center;
}

.img-full {
	width: 100%;
}

.flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.items-center {
	align-items: center;
}

.flex-gap {
	gap: 1rem;
}

.no-padding {
	padding: 0;
}

.no-margin {
	margin: 0;
}

.social-icon {
	width: 30px;
	margin-right: 1rem;
}

@media only screen and (max-width: 800px) {
	.header-desktop {
		display: none;
	}

	.header-mobile {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}