.container-character {
	padding: 1rem;
	transition: background-color 0.3s;
}

.container-character:hover {
	background-color: #22222280;
}

.img-character {
	width: 150px;
	flex-shrink: 0;
}

@media only screen and (max-width: 800px) {
	.container-character {
		flex-direction: column-reverse;
		align-items: center;
		text-align: center;
	}
	.img-character {
		width: 100px;
	}
}
